*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Asap', sans-serif;
}
h1{
    font-size: 35pt;
    margin-top: 10px;
    text-align: center;
}
#hulptekst{
    margin-top: 0px;
    text-align: center;
}

.image{
    margin-bottom: 50px;
}

img{width: 100%}

.info{
    border-left: 2px solid #f04c25;
    margin-bottom: 50px;
}
#profielfoto{
    float: right;
    border: 3px solid #f04c25;
    box-shadow: 5px 5px 5px gray;
    width: 300px;
    height: 300px;
}
.material-icons{
    vertical-align: middle;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.orange { color: #f04c25; }
.material-icons.white { color: #ffffff; }



.title-hobby{
    font-weight: bold;
    font-size: 20pt;
    border-bottom: 3px solid #f04c25;
}

.center_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

